





<div class="row">
  <% @cocktails.each do |cocktail|%>

  <div class="col-xs-12 col-sm-4">

    <div class="card">
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail_name" %>
    </div>
  </div>

  <% end %>
</div>

