<div class="container_footer">
  <div class="footer">
    <div class="footer-links">
      <%= link_to "Facebook", class: "fa fa-github" %>
      <%= link_to "Twitter", class: "fa fa-github" %>
      <%= link_to "instagram", class: "fa fa-github" %>
      <%= link_to "github", class: "fa fa-github" %>

  </div>
</div>
